---
import Header from '@components/Header.astro';
import Layout from '@layouts/Layout.astro';
---
<Layout title="Community">
    <div class="w-full h-full px-[15%]">
        <Header pageLocation="/" pageName="Community" />
            <div class="border-t-[1px] border-t-[--border-color] py-[30px]">
                <p class="mt-[1em]">You are being taken to another website (discord.gg/unblock)</p>
                <p class="mt-[1em]">Are you sure you want to <a class="underline" href="https://discord.gg/unblock" target="_blank" rel="noopener noreferrer">proceed</a>?</p>
            </div>
            <div class="border-b-[1px] border-b-[--border-color]"></div>
    </div>
</Layout>
