---
import Layout from "@layouts/Layout.astro";
import Load from "@components/Load.astro";
const url = Astro.url.searchParams.get('url') || '';
---

<Layout title="Search">
    <div class="flex flex-col justify-center items-center h-full w-full"> 
        <iframe id="iframe" class="bg-[--background] w-full h-full absolute"></iframe>
    </div>
    <url-parens data-url={url} />
    <script>
        class UrlParens extends HTMLElement {
            constructor() {
                super();
                const url = this.dataset.url;
                const iframe = document.getElementById("iframe")
                iframe.src = __uv$config.prefix + url
                history.pushState({}, "", "/")
            }
        }
        customElements.define('url-parens', UrlParens);
    </script>
</Layout>
