---
import Layout from '@layouts/Layout.astro';
import Search from '@components/Search.astro';
import Links from '@components/NavLinks.astro';
---

<Layout title="Home">
    <div class="w-full h-full px-[20%] flex flex-row justify-center items-center">
        <Search />
        <Links />
    </div>
</Layout>
