---
import Layout from '@layouts/Layout.astro';
---
<Layout>
    <div class="flex flex-col justify-center items-center h-full w-full bg-[--background]">
        <div class="lds-dual-ring"></div>
        <p class="max-w-[600px] text-center mt-[35px]">
            Please wait a moment. 
            Our service maybe under high load causing some slowness on our servers. Your request will eventually be responded to.
        </p>
    </div>
    <style>
        .lds-dual-ring {
            display: inline-block;
            width: 160px;
            height: 160px;
        }
        .lds-dual-ring:after {
            content: " ";
            display: block;
            width: 128px;
            height: 128px;
            margin: 16px;
            border-radius: 50%;
            border: 12px solid #fff;
            border-color: #fff transparent #fff transparent;
            animation: lds-dual-ring 1.2s linear infinite;
        }
        @keyframes lds-dual-ring {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</Layout>
