---
import Header from '@components/Header.astro';
import Layout from '@layouts/Layout.astro';
---
<Layout title="Support">
    <div class="w-full h-full px-[15%]">
        <Header pageLocation="/" pageName="Support" />
            <div class="border-t-[1px] border-t-[--border-color] py-[30px]">
                <span class="mt-[1em] mb-[16px] text-[18px] font-medium">A page is not functioning or loading on the proxy</span>
                <p class="mt-[1em]">Our web servers are either under really high load, or the web page you tried accessing is not currently supported.</p>
            </div>
            <div class="border-b-[1px] border-b-[--border-color]"></div>
            <div class="border-t-[1px] border-t-[--border-color] py-[30px]">
                <span class="mt-[1em] mb-[16px] text-[18px] font-medium">Is my information secure</span>
                <p class="mt-[1em]">Yes, your informaton is as secure as the sites visiting them. Our <a href="https://github.com/mercuryworkshop/wisp-protocol" target="_blank" rel="noopener noreferrer" class="underline">end to end TLS encryption through websockets</a> ensures even more that it is secure.</p>
            </div>
            <div class="border-b-[1px] border-b-[--border-color]"></div>
            <div class="border-t-[1px] border-t-[--border-color] py-[30px]">
                <span class="mt-[1em] mb-[16px] text-[18px] font-medium">Where can I obtain more links to Incognito</span>
                <p class="mt-[1em]">Links to incognito can be generated at <a href="https://discord.gg/unblock" target="_blank" rel="noopener noreferrer" class="underline">Titanium Network </a></p>
            </div>
            <div class="border-b-[1px] border-b-[--border-color]"></div>
            <div class="border-t-[1px] border-t-[--border-color] py-[30px]">
                <span class="mt-[1em] mb-[16px] text-[18px] font-medium">Why is GeForce Now is responding with "403 Access Denied"</span>
                <p class="mt-[1em]">At the moment, too many people are using GeForce Now on our servers. Try again later.</p>
            </div>
            <div class="border-b-[1px] border-b-[--border-color]"></div>
            <div class="border-t-[1px] border-t-[--border-color] py-[30px]">
                <span class="mt-[1em] mb-[16px] text-[18px] font-medium">Google login is saying this app is insecure</span>
                <p class="mt-[1em]">At the moment, Google login is not supported for @gmail accounts. However, it is supported for GSuite accounts (School / work email).</p>
            </div>
            <div class="border-b-[1px] border-b-[--border-color]"></div>
    </div>
</Layout>
